<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uwinnipeg.proximitydroid.v2"
    android:versionCode="2"
    android:versionName="@string/app_versionName" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true" >
        <activity
            android:name="ProximityDroidActivity"
            android:theme="@style/base"
            android:uiOptions="splitActionBarWhenNarrow" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="FeatureActivity"
            android:label="@string/app_features"  
            android:parentActivityName="ca.uwinnipeg.proximitydroid.v2.ProximityDroidActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
		        <meta-data
		            android:name="android.support.PARENT_ACTIVITY"
		            android:value="ca.uwinnipeg.proximitydroid.ProximityDroidActivity" />
        </activity>

        <service android:name=".services.ProximityService" >
        </service>
        <service android:name=".services.NeighbourhoodService" >
        </service>
        <service android:name=".services.IntersectionService" >
        </service>
        <service android:name=".services.ComplimentService" >
        </service>
        <service android:name=".services.DifferenceService" >
        </service>
        <service android:name=".services.NeighbourhoodIntersectionService" >
        </service>
        <service android:name=".services.NeighbourhoodComplimentService" >
        </service>
        <service android:name=".services.UpperApproxService"></service>
    </application>

</manifest>